@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:ital@1&family=Source+Code+Pro&display=swap');


/* Whole html */
body {
    margin: 0; padding: 0;
    font-family: 'Lato', sans-serif;
}


/* The nav bar */
.logo-image .the-image {
    width: 160px;
    height: 50px;
    overflow: hidden;
    margin-bottom: -55px;
    margin-left: 350px;
}

.nav-bar{
    padding-bottom: 50px;
    padding-right: 300px;
    background-color: black;
}

.nav-bar a {
    text-decoration: none !important;
    color: white;
    list-style-type: none;
    font-weight: bold;
}

.nav-bar li{
    line-height: 0.1px;
    display: inline;
    float: right;
    padding: 10px;
    margin-left: 8px;
    color: black;
}

.nav-bar .dunno{
    color: white;
    font-weight: bold;
}

.nav-bar .login{
    font-weight: normal;
}

.nav-bar .lol{
    font-weight: normal;
}

.nav-bar .signup{
    font-weight: normal;
}

/* First section */

.spotifypar .spotify-text {
    margin-top: auto;
    padding-top: 50px;   
    padding-bottom: 5px;
    font-weight: bold;
}

.spotify-premium h1 {
    font-size: 60px;
    font-weight: bold;
    padding-left: 370px;
}

.spotify-premium .lol2{
    width: 400px;
    overflow: hidden;
    margin-bottom: -500px;
    padding-left: 1150px;
}

.spotify-premium {
    color: #1f2d71;
    background-color: #96f0b6;
    padding-bottom: 50px;
}

.spotify-premium p {
    font-weight: bold;
    padding-left: 370px;
}

.spotify-premium .itends {
    color: #1f2d71;
}
.spotify-premium .p1 {
    font-size: 27px;
    color: #1f2d71;
}

.spotify-premium-button a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.spotify-premium-button a {
    color: #96f0b6;
}

.spotify-premium-button {
    width: 200px;
    margin-top: 30px;
    margin-left: 360px;
    margin-right: 1300px;
    padding-left: 45px;
    border: 2px solid;
    border-radius: 30px;
    background-color: #1f2d71;
}

.spotify-premium-footer {
    padding-left: 370px;
    padding-top: 20px;
}

/* Section 2 */

.spotify-wrapped .logos .theimage2 {
    width: 200px;
}

.spotify-wrapped .logos .theimage3 {
    width: 160px;
    padding-bottom: 13px;
}

.spotify-wrapped {
    padding-left: 500px;
    color: #1f2d71;
    font-weight: bold;
}

.spotify-wrapped {
    background-color: #f46ebe;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 370px;
    font-weight: bold;
}

.spotify-wrapped .download {
    margin-top: -10px;
}

.spotify-wrapped .hastag {
    font-weight: bold;
    color: #1f2d71;
}

.spotify-wrapped .wrap2021 {
    font-size: 60px;
}

.spotify-wrapped .butits {
    font-size: 26px;
}

/* Section 3 */

.spotify-free {
    margin-top: -20px;
    background-color: #2941ab;
    padding-bottom: 100px;
}

.spotify-free .hastag2 {
    font-weight: bold;
    color: #1ed760;
    padding-top: 70px;
    padding-left: 370px;
}

.spotify-free .biggo{
    padding-left: 370px;
    font-size: 60px;
    font-weight: bold;
    color: #1ed760;
}

.spotify-free .pppp {
    padding-left: 370px;
    font-size: 27px;
    font-weight: bold;
    color: #1ed760;
}

.spotify-free-button .testing{
    padding-bottom: 1px;
    padding-top: 1px;
}

.spotify-free-button .testing .fontu{
    list-style-type: none;
    text-decoration: none !important;
    color: #2941ab;
    font-weight: bold;
}

.spotify-free-button {
    border-radius: 30px;
    background-color: #1ed760;
    width: 12%;
    margin-left: 360px;
    padding-left: 20px;
}

/* Footer */

.footer {
    background-color: black;
    color: white;
    padding-bottom: 20px;
    padding-top: 70px;
}

.footer .company {
    padding-left: 500px;
    margin-top: -20px;
}

.footer .company h2 {
    padding-left: 37px;
}

.footer .communities {
    padding-left: 700px;
    margin-top: -126px;
}

.footer .communitiesH2 {
    padding-left: 37px;
}

.footer .useful {
    padding-left: 900px;
    margin-top: -163px;
}

.footer .usefullinksh2 {
    padding-left: 38px;
}

.footer .last ul{
    color: gray;
    font-size: 13px;
    padding-top: 50px;
    padding-left: 490px;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer .location {
    margin-top: -75px;
    padding-bottom: 100px;
    padding-left: 1490px;
    font-size: 5px;
}

.footer .uk {
    font-size: 13px;
}

.footer .ab {
    color: white;
    padding-left: 27px;
}

.footer .hahaButtons {
    margin-left: 1530px;
}

.logoHaha3 {
    padding-left: 300px;
    width: 150px;
}

i {
    color: white;
}

a {
    text-decoration: none;
}

ul {
    padding-bottom: 3px;
    font-weight: bold;
    color: white;
    list-style-type: none;
}

li {
    padding-bottom: 5px;
}



/* The end */





